<div class="card">
  <div class="card-header">Add Course</div>
  <div class="card-body">
    <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          #title="ngModel"
          [(ngModel)]="model().title"
          required
          placeholder="Enter title"
        />
        @if(title.invalid && title.touched) {
            <div class="text-danger">
                Title is required
            </div>
        }
       
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Description</label
        >
        <textarea
          class="form-control"
          rows="3"
          id="description"
          name="description"
          #description="ngModel"
          [(ngModel)]="model().description"
          required
          placeholder="Enter description"
        ></textarea>
        @if(description.invalid && description.touched) {
            <div class="text-danger">
                Description is required
            </div>
        }
       
      </div>
      <div>
        <label for="image">Choose an image:</label>
        <input
          type="file"
          id="image"
          name="image"
          accept="image/*"
          [multiple]="false"
          (change)="onFileSelected($event)"
          ngModel
          required
        />

        @if(cover()) {
            <div class="imageDiv" align="right">
              <img [src]="cover()" alt="" />
            </div>
            } @if(showError()) {
            <div class="text-danger">Image is required.</div>
            }
          </div>

      <div class="m-3" align="center">
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          [ngClass]="{'btn-success': isSaved()}"
          [ngStyle]="{'color': isSaved() ? 'black' : ''}"
        >
          {{isSaved() ? 'Saved' : 'Save'}}
        </button>
      </div>
    </form>
  </div>
</div>

<div class="row-mt-3">
    @for (course of courses; track $index) {
        <app-courses [course]="course"> 
        </app-courses>
    }@empty {
        <div align="center">
            No Course added yet
        </div>
    }
</div>

