img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 80vh;
}

.main-content {
    position: absolute;
    top: 40%;
    left: 22%;
    transform: translate(-50%, -50%);
    h1 {
        font-size: 3rem;
    }
}

section.courses {
    background-color: #effeff;
    padding: 6vh;
}